@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Weissópolis<br />
    Pinhais/Paraná<br />
    <abbr title="Whatsapp">W:</abbr>
    41 99803-7134
</address>

<address>
    <strong>Outlook:</strong> <a href="mailto:lucasa7xadriano@outlook.com">lucasa7xadriano@outlook.com</a><br />
    <strong>Gmail:</strong> <a href="mailto:lucas2adriano@gmail.com">lucas2adriano@gmail.com</a>
</address>
