@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Weissópolis<br />
    Pinhais/PR, WA (41) 99803-7134<br />
    <abbr title="Contact">C:</abbr>(41) 99803-7134
</address>

<address>
    <strong>Gmail:</strong> <a href="mailto:Lucas2adriano@gmail.com">Lucas2adriano@gmail.com</a><br />
    <strong>Outlook:</strong> <a href="mailto:Lucasa7xadriano@outlook.com">Lucasa7xadriano@outlook.com</a>
</address>
